.countdown {
    color: white;
    font-size: 36px;

    position: relative;
    margin: auto;

    display: flex;
    justify-content: center;

    z-index: 99;
}

.time {
    margin-left: 10px;
    margin-right: 10px;
}