body {
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

.maindiv {
    position: absolute;
    margin: auto;
    width: 100%;

    outline: 2px solid rgb(0, 0, 0);
    height: 100vh;
    
    background-size: auto 100vh;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.maindiv2 {
    position: absolute;
    margin: auto;
    width: 100%;

    outline: 2px solid rgb(0, 0, 0);
    height: 100vh;
    
    background-size: auto 100vh;
    background-image: url("../assets/background_illuminated3.jpg");
    opacity: var(--t);
    background-repeat: no-repeat;
    background-position: center center;
}

.mindiv {
    position: relative;
    margin: auto;
    /* border: 2px solid white; */
/*     padding-top: 20vh;
    padding-bottom: 20vh;
    width: 600px; */
    height: 60vh;

    background-image: url("../assets/royal_logo.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
    display: flex;
    justify-content: center;

    z-index: 99;
}

.input {
    /* border: 2px solid rgb(255, 0, 0); */
    position: absolute;
    top: 80%;

}

.countdown {
    color: white;
    font-size: 36px;

    position: relative;
    margin: auto;

    display: flex;
    justify-content: center;

    z-index: 99;
}

.time {
    margin-left: 10px;
    margin-right: 10px;
}

.back {
    position: absolute;
    float: left;
    height: min(10vh, 10vw);
    width: auto;
    
    z-index: 99;

    background-image: url("../assets/arrow.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}